<!DOCTYPE html>
<html>
  <head>
    <link href="../public/home.css" type="text/css" rel="stylesheet">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="body_home">
    <div class="" id="menu">

    </div>
    <div class="" id="date">

    </div>
    <div class="" id="time">

    </div>
    <div class="" id="head_current_time">

    </div>
    <div class="" id="curr_temp">

    </div>
    <div class="" id="table_temp">

    </div>
    <div class="" id="plot">

    </div>
    <div class="" id="fut_1">

    </div>
    <div class="" id="fut_2">

    </div>
    <div class="" id="fut_3">

    </div>
    <div class="" id="fut_4">

    </div>
  </body>
</html>
