.body_home{
  max-width: 965px;
  max-height: 515px;
  /*background-color: grey;*/
  font-size: 0px;
}
.test{
  background-color: white;
  width: 965px;
  height: 515px;
}

#menu{
  background-color: red;
  width: 170px;
  height: 70px;
  margin-top: 0px;
  margin-left: 0px;
  position: absolute;;
}

#date{
  background-color: blue;
  width: 355px;
  height: 70px;
  margin-top: 0px;
  margin-left: 170px;
  position: absolute;
}

#time{
  /*background-color: yellow;*/
  padding-top: 16px;
  padding-left: 6px;
  padding-bottom: 10px;
  width: 170px;
  height: 70px;
  margin-top: 0px;
  margin-left: 525px;
  position: absolute;
  color: black;
  font-size: 30px;
  font-family:fantasy;
}

#head_current_time{
  background-color: green;
  width: 270px;
  height: 70px;
  margin-top: 0px;
  margin-left: 695px;
  position: absolute;
}

#curr_temp{
  /*background-color: black;*/
  width: 270px;
  height: 170px;
  margin-top: 70px;
  margin-left: 695px;
  position: absolute;
  color: black;
  font-size: 35px;
}

#table_temp{
  background-color: yellow;
  width: 270px;
  height: 275px;
  margin-top: 240px;
  margin-left: 695px;
  position: absolute;
}

#plot{
  background-color: green;
  width: 695px;
  height: 365px;
  margin-top: 70px;
  margin-left: 0px;
  position: absolute;
}

#fut_1{
  background-color: yellow;
  width: 139px;
  height: 80px;
  margin-top: 435px;
  margin-left: 0px;
  position: absolute;
}

#fut_2{
  background-color: blue;
  width: 139px;
  height: 80px;
  margin-top: 435px;
  margin-left: 139px;
  position: absolute;
}

#fut_3{
  background-color: black;
  width: 139px;
  height: 80px;
  margin-top: 435px;
  margin-left: 278px;
  position: absolute;
}

#fut_4{
  background-color: red;
  width: 139px;
  height: 80px;
  margin-top: 435px;
  margin-left: 417px;
  position: absolute;
}
#fut_5{
  background-color: blue;
  width: 139px;
  height: 80px;
  margin-top: 435px;
  margin-left: 556px;
  position: absolute;
}
